:root {
  --primary-color: #002CBE;
  --background-color: #E8EFFF;
  --container-background: #F0F6FF;
  --card-background: #FFFFFF;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 44, 190, 0.05);
  min-height: 100vh;
  margin: 0;
}
